@import "tailwindcss";

@layer components {
    .social-btn {
      @apply w-full h-16 sm:h-24 flex justify-center items-center hover:scale-105 duration-500 cursor-pointer;
    }
    .social-btn-link {
      @apply flex gap-3 items-center;
    }
    .social-icon {
      @apply size-3 sm:size-6 fill-white;
    }
    .social-text {
      @apply text-white text-sm sm:text-lg;
    }
    .header-nav-link{
      @apply text-base pb-1 text-gray-300 relative hover:text-white transition-colors duration-200 after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[2px] after:bg-red-500 hover:after:w-full after:transition-all after:duration-300;
    }
    .shop-next-prev-button{
      @apply text-white bg-gray-700 py-2 px-4 hover:bg-gray-500 duration-500 rounded-md cursor-pointer;
    }
  }

  @layer utilities {
    .invisible-until-loaded {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .visible-when-loaded {
      visibility: visible;
      opacity: 1;
    }
  }